[submodule "main/deps/asio"]
	path = main/deps/asio
	url = https://github.com/chriskohlhoff/asio.git
	shallow = true
[submodule "main/deps/boost/assert"]
	path = main/deps/boost/assert
	url = https://github.com/boostorg/assert.git
	shallow = true
[submodule "main/deps/boost/config"]
	path = main/deps/boost/config
	url = https://github.com/boostorg/config.git
	shallow = true
[submodule "main/deps/boost/core"]
	path = main/deps/boost/core
	url = https://github.com/boostorg/core.git
	shallow = true
[submodule "main/deps/boost/hana"]
	path = main/deps/boost/hana
	url = https://github.com/boostorg/hana.git
	shallow = true
[submodule "main/deps/boost/intrusive"]
	path = main/deps/boost/intrusive
	url = https://github.com/boostorg/intrusive.git
	shallow = true
[submodule "main/deps/boost/move"]
	path = main/deps/boost/move
	url = https://github.com/boostorg/move.git
	shallow = true
[submodule "main/deps/boost/static_assert"]
	path = main/deps/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
	shallow = true
[submodule "main/deps/json"]
	path = main/deps/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "main/deps/JUCE"]
	path = main/deps/JUCE
	url = https://github.com/juce-framework/JUCE.git
	shallow = true
[submodule "main/deps/lager"]
	path = main/deps/lager
	url = https://github.com/arximboldi/lager.git
	shallow = true
[submodule "main/deps/websocketpp"]
	path = main/deps/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	shallow = true
[submodule "main/deps/zug"]
	path = main/deps/zug
	url = https://github.com/arximboldi/zug.git
	shallow = true
