html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  user-select: none;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
